
  
  .leaflet-container {
    width:100%;
    height: 50vh;
    z-index: 1; 
  }

.popup-details{
  color:grey;
  font-size:10px;
}

.openg {
  color:#5DA950;
margin-right: 5px;
font-weight: bold;
margin-top: 12px;
 
  
  
}

.address {
  color:#31AEA6;
    text-decoration-line: underline;
   
}

.flexbox{
  display:flex;
}

.test3{
  background-color: white;
  border-top:1px solid black;
  border-bottom:1px solid black;
  margin:15px 0px 15px 0px;
  overflow:hidden;
}